.bootbox-close-button {

  width: 25px;
  height: 25px;
  padding: 0;
  background-color: black;
  border: none;
  color: white;
  border-radius: 18px;
  margin: 0;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: black;
  }

}
