%smallLogo {
  width: 187px;
  height: 72px;
  margin: 0;
}

.identity {

  transition-property: width, height, margin-top;
  transition-duration: .25s;
  @extend %easeOutOver;

  margin-top:0em;
  width: 262px;
  height: 101px;
  background-size: cover;

  background-image: url(../images/kalamuna-logo-2x.png);
  background-repeat: no-repeat;

  @media screen and (max-width: $screen-xs ) {
    @extend %smallLogo;
  }

  .shrunk & {
    @extend %smallLogo;
  }

  a {
    display: block;
  }

  margin-top: 0;

}

.reversed .identity {
  background-image: url(../images/kalamuna-logo-2x_reversed.png);
}

.open.reversed .identity {
  background-image: url(../images/kalamuna-logo-2x.png);
}



.tabbed-nav {
  margin-top: 0;
  ul {
    @media (min-width: $screen-sm) {
      position: relative;
      left: -.75em;
    }
  }
  li {
    float: left;
    width: 50%;
    @media (min-width: $screen-sm) {
      width: auto;
    }
    a {
      font-family: DinNextRounded;
      font-weight: 300;
      font-size: $h4-font-size;
      color: $gray-lighter;
      color: #eee;
      padding-top: 1em;
    }
  }
  li:focus,
  li:hover {
    a {
      border-radius: none;
      margin: 0;
      background-color: $c-kala-blue;
    }
  }
  li.active {
    a {
      background-color: $c-kala-blue;
    }
  }
}

@media screen and (max-width: $screen-sm){

  .tabbed-nav {
    padding: 0 0;
  }

}

@media screen and (max-width: $screen-xs){
  .nav-tabs {
    width: 100%;
  }
  .tabbed-nav {
    font-size: 1.25em;
    li a {
      padding-bottom: 1em;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 445px){

  .page-services {
    .tabbed-nav {
      line-height: .75;
    }
  }


}

#subnav {

  transition-property: top;
  transition-duration: .25s;
  @extend %easeOutOver;
  @media (min-width:$screen-sm){
    position: fixed;
    top: 6.75em;
  }
  position: relative;
  z-index: 1010;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: shade($c-kala-blue, 20);
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  .content {
    width: 100%;
    margin: 0 auto;
  }

}

.shrunk #subnav {
  top: 4em;
}
