/**
 * Styles for the Careers page
 */

.intro ul {
  @extend %features-list;
  border-top: 1px $c-careers solid;
  li {
    border-bottom: 1px $c-careers solid;
  }
}

.page-careers {
  .who {
  background: $gray-lighter;
  padding: 3em;
  }
}
