.careers_listing {

  @extend .clearfix;

  >.content-wrapper {
    perspective: 800px;
    margin-bottom: 3em;
  }

  .role {

    padding: 0 .5em 0 0;

    @extend %twoup-grid-item;

    .actuator {

      @extend %card;
      color: darken( $c-careers, 25% );
      display: block;
      width: 100%;
      min-height: 155px;
      padding: 1em;
    }

    &.active {

      .actuator {

        min-height: 165px;
        @media screen and ( max-width: $screen-sm ) {

          p {
            display: none;
            visibility: hidden;
          }
        }

      }

    }

    &.active,
    &:hover {

      text-decoration: none;

      .actuator {

        background: $c-careers;
        color: #fff;
        text-decoration: none;

        @media screen and ( min-width: $screen-sm ) {

          background: $c-careers;

          p {
            display: block
          }

        }

      }

    }

  }

  .drawer {

    @extend .clearfix;
    position: relative;
    top: -1.5em;
    z-index: 2;
    clear: both;
    width: 100%;

    .content {
      @extend .clearfix;
      margin: 0 0 2em 0;
      background: #eee;
    }

    .qualifications {
      @extend %twocol;
    }

    .extra {
      @extend %twocol;
    }

    .extra,
    .qualifications {
      ul {
        list-style: none;
        padding-left: 0;
      }
      li {
        padding-top: .25em;
        padding-bottom: .25em;
        border-bottom: 1px $c-careers solid;
      }
    }

    .btn_primary {
      display: block;
      width: 100%;
      clear: both;
      margin-top: 2em;
    }
  }

}

