.case-study {
  h3 {
    color: $c-kala-navy;
  }

  #top-shot {
    height: 0;
    padding-bottom: 50%; // Maintain image aspect ratio of 1.5:1
    overflow: hidden;

    @media (min-width: $screen-sm ) {
      padding-bottom: 35%;
    }
    img {
      @extend .img-responsive;
      width: 100%;
    }
  }

  .content-wrapper {
    @extend .container;
    position: relative;

    #cs-intro {
      @extend .row;

      @media (min-width: $screen-sm) {
        position: absolute;
        top: -300px;
        right: 40px;
      }

      > div {
        @extend .col-xs-12;
        @extend .col-sm-6;
        @extend .col-sm-offset-6;

        $cs-intro-padding: 35px;
        padding-left: $cs-intro-padding;
        padding-right: $cs-intro-padding;
        background-color: rgba(25, 69, 101, 0.9);
        color: $c-kala-blue;

        h2 {
          font-weight: 100;
        }
      }
    }

    $cs-quote-offset: 100px;
    #cs-quote {
      @extend .row;

      @media (min-width: $screen-sm) {
        position: absolute;
        top: -$cs-quote-offset;
      }

      blockquote {
        @extend %quote;
        
        p {
          font-weight: 600;
          font-size: $h3-font-size;
          margin: 20px 20px 40px 20px;
        }

        footer {
          .img-tick {
            float: right;
            position: relative;
            
            $cs-quote-image-size: 100px;
                     
            &:before {
              $cs-triangle-size: 20px;
              content: '';
              position: absolute;
              top: -40px;
              right: ($cs-quote-image-size / 2) - ($cs-triangle-size / 2);
            	width: 0;
            	height: 0;
            	border-left: ($cs-triangle-size / 2) solid transparent;
            	border-right: ($cs-triangle-size / 2) solid transparent;
            	border-top: $cs-triangle-size solid $c-kala-yellow;
            }

            .img-wrap {
              width: $cs-quote-image-size;
              height: $cs-quote-image-size;
              overflow: hidden;
              border-radius: $cs-quote-image-size / 2;
            }
          }

          cite {
            float: right;
            
            span {
              display: block;

              &:first-child {
                font-family: $headings-font-family;
              }
            }
          }
        }
      }
    }

    #cs-challenge {
      @extend .row;

      @media (min-width: $screen-sm) {
        padding-top: $cs-quote-offset;
      }
      > div {
        @extend .col-xs-12;
        @extend .col-sm-7;
        @extend .col-md-8;
      }
    }

    #cs-highlights {
      @extend .row;

      h3 {
        @extend .col-xs-12;
        line-height: 1.8;
      }

      ul {
        margin: 0;
        padding: 0;
        @extend .col-xs-12;

        li {
          @extend .col-xs-12;
          @extend .col-sm-6;

          list-style: none;
          margin-bottom: 2em;

          span {
            padding: 0.1em 0.4em;
            background-color: lighten($c-kala-yellow, 30);
            // See https://css-tricks.com/multi-line-padded-text/ Note that
            // Chrome and Safari seem to understand both prefixed and
            // non-prefixed but they seem to be have differently. FF is fine
            // with the later.
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
          }

          &:nth-child(odd) {
            clear: both;
          }
        }
      }
    }

    #cs-results {
      @extend .col-xs-12;
      @extend .col-sm-6;
      margin-bottom: 40px;

      ul {
        margin: 0;
        padding: 0;

        li {
          padding-top: 5px;
          padding-bottom: 5px;
          list-style: none;
          border-top: 1px solid $c-kala-blue;

          &:last-child {
            border-bottom: 1px solid $c-kala-blue;
          }
        }
      }
    }

    #cs-tools {
      @extend .col-xs-12;
      @extend .col-sm-6;
      margin-bottom: 40px;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          padding: 2px 5px;
          margin-bottom: 3px;
          list-style: none;
          background-color: lighten($c-kala-blue, 40);
          color: $c-kala-blue;
        }
      }

      #cs-link {
        display: block;
        margin-top: 20px;
        padding: 10px;
        background-color: $c-kala-navy;
        color: #fff;
        line-height: 1;

        &:hover {
          background-color: lighten($c-kala-navy, 10);
          text-decoration: none;
        }

        i {
          float: right;
        }
      }
    }
  }

  #case-study-nav {
    clear: both;

    ul {
      margin: 0;
      padding: 0;
      @extend .row;

      li {
        @extend .col-xs-12;
        @extend .col-sm-6;
        position: relative;
        list-style: none;
        font-family: $headings-font-family;
        background-color: $c-kala-blue;
        transition: background-color .15s ease-in-out;

        &:hover {
          background-color: darken($c-kala-blue, 10);
        }


        a {
          display: block;
          float: left;
          width: 100%;
          padding-left: 20%;
          padding-top: 20px;
          padding-bottom: 20px;
          color: rgba(255,255,255,0.7);
          font-weight: 100;
          transition: color .15s ease-in-out;

          &:hover {
            color: rgba(255,255,255,1);
            text-decoration: none;
          }

          span {
            display: block;
            font-weight: 500;
          }
        }

        i {
          display: block;
          position: absolute;
          left: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          color: rgba(255,255,255,1);
          font-size: 44px;
          font-weight: 100;
          pointer-events: none;
          cursor: pointer;
        }

        &:last-child {
          text-align: right;
          border-top: 1px solid #fff;

          @media (min-width: $screen-sm) {
            border-top: none;
            border-left: 1px solid #fff;
          }

          a {
            float: right;
            padding-right: 20%;
          }

          i {
            left: auto;
            right: 20px;
          }
        }
      }
    }
  }

  #cs-screenshots {
    height: 0;
    padding-bottom: 50%; // Maintain image aspect ratio of 1.5:1
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    img {
      @extend .img-responsive;
      width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      color: #fff;
      font-style: italic;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

// Page specific overrides.
.page-arizona-state-university.case-study {
  // The ASU quote is a lot longer than the others so we need some more padding
  // to fit it in.
  #cs-challenge {
    @media (min-width: $screen-sm) {
      padding-top: 160px;
    }

    @media (min-width: $screen-md) {
      padding-top: 120px;
    }
  }
}
