.page-requested-page-does-not-exist {
  .lede {
    margin-bottom: 6em;
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 1em;
    }
  }
  .lede + .content-wrapper {
    p {
      margin-bottom: 8em;
    }
  }

}


