// .services {
//   .lede {
//     margin-bottom: 0;
//     padding-bottom: 0;
//     overflow: hidden;
//   }
// }


#strategy {

  .mobile-controls {
    display: block;
    h3 {
      padding-bottom: .5em;
    }
    padding-left: 1em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }

  .controls {
    display: none;
    @extend .col-sm-3;
    @extend .pull-right;
  }

  @media screen and ( min-width: $screen-sm ) {

    .content {
      @extend .col-sm-8;
    }

    .mobile-controls {
      display: none;
    }

    .controls {
      display: block;
    }

  }

}

.our-services {
  .intro {
    margin-top: 0;

    p {
      margin-bottom: 2em;
    }

    @media screen and ( max-width: $screen-sm ) {
      p {
        width: 100%;
      }
    }
  }
}
