.drawer {

  @extend .clearfix;
  width: 100%;
  clear: both;

  .content {
    @extend .clearfix;
    padding: 1.5em 0 1.5em 0;
    margin: 0 0 2em 0;
    background: #eee;
  }

}

.post .drawer {

  .qualifications {
    @extend %twocol;
  }

  .responsibilities {
    @extend %twocol;
  }

}
