html,
body {
}


#main {
  // height: 100%;
  // background: #fff;
  // overflow: hidden;
  // transform: rotateX(0);
  // transition-property: transform;
  // transition-duration: 0.3s;
}

.bootbox-close-button {
  background-color: none !important;
  background: transparent !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
  width: .9em !important;
  height: 1.75em !important;
  overflow: hidden;

  &:hover {
    background: none;
    color: #fff;
  }

  @extend .fa;
  @extend .fa-times-circle;
  font-size: 1.25em;
  float: right;
  cursor: pointer;
}

.modal-header {

  padding-top: 1em;
  padding-bottom: .5em;

  .modal-title {
    font-weight: 300 !important;
  }

  h4 {
    margin-top: 0;
  }

  // .bootbox-close-button,
  .close {
    font-size: 1.25em;
    float: right;
    cursor: pointer;
    padding-top: .65em;
    color: #000;
    .icon {
      @extend .fa;
      @extend .fa-times-circle;
    }
    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }



  .social-links {
    @extend .clearfix;
    list-style: none;
    padding-left: 0;
    li {
      float: left;
      margin-right: .75em;
      padding:0;
    }
    a {
      vertical-align: text-bottom;
      font-size: 1.25em;
      color: #000;
    }
    a:hover {
      color: #fff;
    }
  }

}

.modal-content {
  max-height: 100%;
  > .content {
    padding: 2em;
  }
  &.vcard > .content {
    padding-top: 1em;
    margin-bottom: 1em;
    @extend .clearfix;
  }
}

.powers {

  @include make-sm-column(6);
  @extend .clearfix;

  clear: both;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 1em;

  > li {
    margin-bottom: .25em;
  }

  label {
    margin-right: 1em;
    margin-bottom: 0;
    float: left;
    min-width: 7.5em;
  }

  .progress {
    background-color: desaturate( lighten($c-about-us, 10), 15 );
    margin-bottom: 0;
    border-radius: 2px;
  }

  .progress-bar-powers {
    background-color: darken( $c-kala-magenta, 5 );
    border-radius: 3px;
    border: 2px solid desaturate( lighten($c-about-us, 10), 15 );
  }

}

.page-about-us {
  .modal-header {
    background: $c-about-us;
  }
  .modal-content {
    background: lighten( $c-about-us, 15 );
  }
}

.page-services {
  .modal-header {
    background: $c-services; //darken($c-kala-blue, 20 );
  }
  .modal-content {
    background: lighten( $c-services, 15 );
  }
}

.page-careers {
  .modal-header {
    background: $c-careers; //darken($c-kala-green, 20 );
  }
  .modal-content {
    background: lighten( $c-careers, 15 );
  }
}

.page-contact {
  .modal-header {
    background: $c-contact; //darken($c-kala-green, 20 );
  }
  .modal-content {
    background: lighten( $c-contact, 15 );
  }
  .btn-primary {
    background: darken( $c-kala-orange, 15 );
    &:hover {
      color: darken( $c-kala-orange, 35 );
    }

  }
}

.modal-dialog {
  color: #000;
}

.modal {

  perspective-origin: bottom;
  perspective: 400px;
  text-color: #000;

  & .modal-dialog {
    transform: rotateX(20deg) translate3d( 0, 200%, 0 ) !important;
    transform-origin: center top;
    transition-property: transform;
    transition-duration: .275s !important;
    @extend %easeOutQuad;
    margin-bottom: 0;
    padding-bottom: 2em;
  }

  &.in .modal-dialog {
    transform: rotateX(0) translate3d( 0, 0, 0 ) !important;
  }

  .vcard .photo {
    width: 100%;
    overflow: hidden;
    margin-right: 1em;
    margin-bottom: 1em;
    img {
      display: block;
      width: 100%;
    }
  }


}
