.tags {

  @extend .nav;
  @extend .nav-pills;

  padding-left: 5px;

  li {

    a {
      display: inline-block;
      padding: 1px 5px;
      margin: 0 5px 5px 0;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      white-space: nowrap;
      color: #fff;
      background-color: $c-services;
      border-radius: .25em;
    }

    &:hover a {
      background-color: darken( $c-services, 20 );
    }

  }

}
